.header-logo {
  border-style: solid;
  margin: 5px;
  padding: 2px 10px;
  color: #fff;
}

.header-logo-text {
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
  white-space: nowrap;
  margin-bottom: 0;
}
