.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 70px;
  padding-bottom: 80px;

  @media (min-width: 1680px) {
    justify-content: space-between;
  }
}
