@import "../../styles/variables";

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 70px;
  padding-bottom: 80px;
  padding-top: 30px;

  @media (min-width: $mq-tablet-width) {
    justify-content: space-between;
  }
}
