@use "sass:math";

.home {
  background-image: url("../../images/actor-g1c051a08e_1920.jpg");
  background-size: cover;
  background-position-x: 60%;
  display: grid;
  grid-template-columns: 3fr minmax(200px, 1.5fr);
  grid-template-rows: repeat(4, 25%);
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  height: 100%;
  grid-gap: 20px;
  padding-left: 20px;
  max-height: 1200px;
}

.home-background {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 768px;
  min-height: 800px;
}

.square {
  color: #fff;
}

.square-2 {
  grid-row: span 4;
  background-color: rgb(100 100 255 / 70%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  margin-right: 20px;
  padding-top: 20px;
}

.home-title {
  font-size: calc(max(3.5vw, 30px));
  padding-right: 5%;
  padding-left: 30%;
  margin-bottom: 100px;

  @media (max-width: 768px) {
    font-size: calc(max(3.5vw, 24px));
  }
}

.home-subtitle {
  font-size: calc(max(1.5vw, 18px));
  line-height: normal;
  margin-top: 100px;
  text-align: center;
  padding-left: 20%;
  padding-right: 35%;
}

.home-separator {
  border: 4px solid #fff;
  margin-right: 25%;
  margin-left: 25%;
}
