@import "../../styles/commonclasses";

.card {
  @extend %box-shadow-light;

  max-width: 500px;
  margin: 30px;
}

.card-image-container {
  display: inline-block;
}

.card-text {
  padding: 0 15px;
}

.card-text_character {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.card-text_actor {
  font-weight: bold;
}

.card-text_background {
  @extend %trailing-commas;

  font-style: italic;
}
