* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $bg-color;
  color: $uoc-corporate;
  width: 100%;
}

.active {
  background-color: #00f;
}

.img-back {
  width: 100vw;
  z-index: 0;
}

.jumbotron {
  background-image: url("../images/life-live-light-1534795.jpg");
  background-size: cover;
  min-height: 700px;
}

.header {
  margin-bottom: 30px;
}
