@use "sass:color";
@import "../../styles/variables";

.footer {
  position: fixed;
  width: 100vw;
  z-index: 1;
  left: 0;
  bottom: 0;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mq-tablet-width) {
    flex-direction: column;
  }
}

.nav__footer {
  @media (max-width: $mq-tablet-width) {
    justify-content: center;
  }
}

.nav-item__footer {
  padding: 15px 5px;
}

.nav-container__footer {
  @media (max-width: $mq-tablet-width) {
    width: 100%;
    justify-content: center;
  }

  @media (min-width: $mq-tablet-width + 1) {
    width: 70%;
  }
}

.footer-icon-container {
  background-color: $color-primary;
  margin: auto;
  display: flex;

  @media (max-width: $mq-tablet-width) {
    width: 100%;
    justify-content: center;
  }

  @media (min-width: $mq-tablet-width + 1) {
    width: 30%;
    justify-content: flex-end;
  }
}

.footer-icon-subcontainer {
  margin-right: 15px;
  display: flex;
}

.active__footer {
  background-color: color.adjust($color-primary, $blackness: 40%);
}
