@use "sass:color";
@import "../../styles/variables";

.footer {
  position: fixed;
  width: 100vw;
  z-index: 1;
  left: 0;
  bottom: 0;
  background-color: $color-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.nav__footer {
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.nav-item__footer {
  padding: 15px 5px;
}

.nav-container__footer {
  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }

  @media (min-width: 769px) {
    width: 70%;
  }
}

.footer-icon-container {
  background-color: $color-secondary;
  margin: auto;
  display: flex;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }

  @media (min-width: 769px) {
    width: 30%;
    justify-content: flex-end;
  }
}

.footer-icon-subcontainer {
  margin-right: 15px;
  display: flex;
}

.active__footer {
  background-color: color.adjust($color-secondary, $blackness: 40%);
}
