.FS-I {
  font-style: italic;
}

.FS-N {
  font-style: italic;
}

.FS-O {
  font-style: italic;
}

.FW-Ler {
  font-weight: lighter;
}

.FW-N {
  font-weight: normal;
}

.FW-B {
  font-weight: bold;
}

.FW-Ber {
  font-weight: bolder;
}

.TT-C {
  text-transform: capitalize;
}

.TT-U {
  text-transform: uppercase;
}

.TT-L {
  text-transform: lowercase;
}

.TD-U {
  text-decoration: underline;
}

.TD-O {
  text-decoration: overline;
}

.TD-L {
  text-decoration: line-through;
}

.TD-B {
  text-decoration: blink;
}

.TD-N {
  text-decoration: none;
}

.A-L {
  text-align: left;
}

.A-C {
  text-align: center;
}

.A-R {
  text-align: right;
}

.M-10 {
  margin: 10px;
}

.M-20 {
  margin: 20px;
}

.M-30 {
  margin: 30px;
}

.M-40 {
  margin: 40px;
}

.MT-10 {
  margin-top: 10px;
}

.MT-20 {
  margin-top: 20px;
}

.MT-30 {
  margin-top: 30px;
}

.MT-40 {
  margin-top: 40px;
}

.MB-10 {
  margin-bottom: 10px;
}

.MB-20 {
  margin-bottom: 20px;
}

.MB-30 {
  margin-bottom: 30px;
}

.MB-40 {
  margin-bottom: 40px;
}

.ML-10 {
  margin-left: 10px;
}

.ML-20 {
  margin-left: 20px;
}

.ML-30 {
  margin-left: 30px;
}

.ML-40 {
  margin-left: 40px;
}

.MR-10 {
  margin-right: 10px;
}

.MR-20 {
  margin-right: 20px;
}

.MR-30 {
  margin-right: 30px;
}

.MR-40 {
  margin-right: 40px;
}

.M-A {
  margin: auto;
}

.M-L {
  margin-left: auto;
}

.M-R {
  margin-right: auto;
}

.M-LR {
  margin-left: auto;
  margin-right: auto;
}

.M-Nm {
  margin: 0;
}

.P-10 {
  padding: 10px;
}

.P-20 {
  padding: 20px;
}

.P-30 {
  padding: 30px;
}

.P-40 {
  padding: 40px;
}

.PT-10 {
  padding-top: 10px;
}

.PT-20 {
  padding-top: 20px;
}

.PT-30 {
  padding-top: 30px;
}

.PT-40 {
  padding-top: 40px;
}

.PB-10 {
  padding-bottom: 10px;
}

.PB-20 {
  padding-bottom: 20px;
}

.PB-30 {
  padding-bottom: 30px;
}

.PB-40 {
  padding-bottom: 40px;
}

.PL-10 {
  padding-left: 10px;
}

.PL-20 {
  padding-left: 20px;
}

.PL-30 {
  padding-left: 30px;
}

.PL-40 {
  padding-left: 40px;
}

.PR-10 {
  padding-right: 10px;
}

.PR-20 {
  padding-right: 20px;
}

.PR-30 {
  padding-right: 30px;
}

.PR-40 {
  padding-right: 40px;
}

.B-1s {
  border: 1px solid;
}

.BR-5 {
  border-radius: 5%;
}

.BR-10 {
  border-radius: 10%;
}

.BR-20 {
  border-radius: 20%;
}

.BR-25 {
  border-radius: 25%;
}

.BR-50 {
  border-radius: 50%;
}

.LH-25 {
  line-height: 25px;
}

.H-100vh {
  height: 100vh
}

.W-100vw {
  width: 100vw
}

.D-flx {
  display:flex;
}

