@import "../../styles/commonclasses";

.blog {
  padding-bottom: 40px;
}

.blog-container {
  @extend %box-shadow-light;

  margin: 30px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.blog-jumbotron-text {
  @include stroke(2, #000);
}

.blog-jumbotron-author {
  @include stroke(2, #000);
}

.blog-subcontainer {
  background-color: $color-secondary;
  padding: 30px;
  max-width: 1024px;
}

.blog-jumbotron-container {
  width: 100%;
  margin: 0;
}

.blog-jumbotron {
  margin: 0;
  background-image: url("../../images/life-live-light-1534795.jpg");
  background-size: cover;
  min-height: 300px;
  color: $color-secondary;
}

.blog-image {
  display: block;
  width: 95%;
  margin: 30px auto;
}

.blog-quote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  font-size: 0.9em;
}

.blog-paragraph__quote {
  @extend %trailing-commas;

  max-width: 50%;
  font-style: italic;
  text-align: center;
  margin-bottom: 5px;
}

.blog-list {
  margin: 20px 0;
  padding: 0 40px 0 30px;
}

.blog-list-element {
  list-style-type: none;
}

.blog-list-element-header {
  font-weight: bold;
}

.blog-paragraph__endline {
  margin-bottom: 40px;
}

.blog-paragraph__startline {
  margin-top: 40px;
}

.blog-paragraph__header {
  font-weight: bold;
}
